.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info p{
    color: #22223b;
    font-family: 'Rubik', sans-serif;
    margin: 4px;
}

.content{
    align-self: flex-start;
    padding-left: 1rem;
}

.company-name{
    font-weight: bold;
    font-size: 1.2rem;
}

.pr{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

.img{
    width:98%;
    height: 400px;
    background-size: cover;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    margin: 1rem;
}

.price{
    display:flex;
    align-self: flex-start;
}

.pop{
    font-weight: bold; font-size: 1.1rem;
}
button{
    background-color: #22223b;
    
}