.rent{
    color: #22223b;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    left: 5%;
    height: 50px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.search-select{
    width: 90%;
    height: 30px;
    color: #22223b;
    border-radius:50px;
    text-align: center;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly ;
    padding:1rem;
}

.info{
    height: 110px;
    padding: 5px;
    display: flex;
    position: relative;
    border: 0.2px solid gray;
    margin: 1px;
}

p{
    color: #22223b;
    font-family: 'Rubik', sans-serif;
    margin: 4px;
}

.img{
    height: 100px;
    width: 100px;
    background-color: white;
    border: 1px solid #22223b;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size:cover;
    background-position: center;
}
i{
    margin: 4px;
}
.content{
    margin: 2px;
    padding: 0px 15px;
}

.company-name{
    font-weight: bold;
    font-size: 1.2rem;
}

.pr{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

@media(max-width: 450px)
{
    .info{
        width:98%;
        align-items: center;
    }
    .main{
        padding: 0;
    }
}

@media (min-width: 450px) and (max-width:700px)
{
    .info{
        width: 50%;
        align-items: center;
    }
}

@media(min-width: 700px) and (max-width:1000px)
{
    .info{
        width: 33%;
        height: 400px;
        display: flex;
        flex-wrap:wrap;
    }
    .img{
        position: relative;
        width: 99%;
        height:80%;
        align-self: center;
    }
}

@media(min-width:1000px)
{
    .info{
        width: 24.5%;
        height: 400px;
        display: flex;
        flex-direction: column;
    }
    .img{
        position: relative;
        width: 99%;
        height:80%;
        align-self: center;
    }
    
}